body {
    background-color: rgb(129, 129, 129);
    padding: 15px 75px;
}

* {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 25px;
}

h1 {
    /* padding: 0 100%; */
    /* padding: 25px 15px; */
    margin: 25px;
}

button, select {
    transform: translate(-20%);
    width: 150%;
    margin: 5px;
    background-color: rgb(66, 66, 66);
    border-radius: 5px;
    border-style: none;
}